apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: 260443817167.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newName: 260443817167.dkr.ecr.us-east-1.amazonaws.com/demo-frontend
  newTag: a3e18496
resources:
- ../../base
patchesStrategicMerge:
- front-deployment-patch.yaml
- front-service-patch.yaml
